{% extends "AppBundle::Sitio/layout.html.twig" %}
{% block content %}	

	<section class="intro int">
		<div class="slider-int">
			<img src="{{ asset('bundles/app/images/slider/-003.jpg') }}" alt="">
		</div>
		<div class="sub-header">
			<div class="container">
				<ul>
					<li><span class="icon-mail"></span> info@medanosapart.com.ar</li>
					<li><span class="icon-pin"></span> Ubicación</li>
					<li><span class="icon-telefono"></span> (02255) 15 50.7575</li>
				</ul>
			</div>
		</div>
		<header>
			<div class="container">
				<button class="hamburger hamburger--spin" type="button">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
				</button>
				<div class="logo bosque"></div>
				<nav>
					<ul>
						<li><a href="{{ path('homepage') }}">Inicio</a></li>
						<li><a data-scroll href="#info">Las Cabañas</a></li>
						<li><a data-scroll href="#gallery">Galería de fotos</a></li>
					</ul>
				</nav>
			</div>
		</header>
	</section>

	<section class="info" id="info">
		<div class="container">
			{{ render(controller('AppBundle:Default:enElBosqueText')) }}
      <ul class="int-med three">
        <li class="one"><a href="{{ path('en_el_bosque') }}">Bosque 3-5 personas</a></li>
				<li class="two active"><a href="{{ path('en_el_bosque_6') }}">Bosque 6 personas</a></li>
				<li class="three"> <a href="{{ path('en_el_bosque_uso_comun') }}">Espacios de uso común</a></li>
      </ul>
      <div class="owl-content">
        {# <h4 class="owl-subtitle">Recorrido panorámico</h4>
        <div id="container" style="width:100%;height:500px;overflow:hidden;"></div> #}
        <h4 class="owl-subtitle">Galería de fotos</h4>
        <div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
          {{ render(controller('AppBundle:Default:galeria',{galeria_id: 8})) }} 
        </div>
      </div>
		</div>
	</section>
	

	{# <section class="gallery" id="gallery">
		<div class="container">
			<h2>Galería de fotos</h2>
			<ul>
				<li class="one">Bosque 3-5 personas</li>
				<li class="two">Bosque 6 personas</li>
				<li class="three">Espacios de uso común</li>
			</ul>
			<div class="owl-gallery">
				<div>
					<div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
						{{ render(controller('AppBundle:Default:galeria',{galeria_id: 7})) }} 
					</div>
				</div>
				<div>
					<div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
						{{ render(controller('AppBundle:Default:galeria',{galeria_id: 8})) }} 
					</div>
				</div>
				<div>
					<div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
						{{ render(controller('AppBundle:Default:galeria',{galeria_id: 3})) }} 
					</div>
				</div>
			</div>
		</div>
	</section> #}

  {# <script type="text/javascript">
    // create the panorama player with the container
    pano=new pano2vrPlayer("container");
    // add the skin object
    skin=new pano2vrSkin(pano,"{{ asset('bundles/app/images/panoramicas/habitacion-1/') }}");
    // load the configuration
  
    window.addEventListener("load", function() {
      pano.readConfigUrlAsync("{{ asset('bundles/app/images/panoramicas/habitacion-1/pano.xml') }}");
    });
  </script> 
  

  <script type="text/javascript">
   carga("{{ asset('bundles/app/images/panoramicas/habitacion-1/') }}");
  </script> #}
{% endblock %}