<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Médanos</title>
	<!-- CSS -->
	<link href="{{ asset('bundles/app/stylesheets/screen.css') }}" media="screen, projection" rel="stylesheet" type="text/css" />
	<link href="{{ asset('bundles/app/stylesheets/fonts.css') }}" media="screen, projection" rel="stylesheet" type="text/css" />
	<link href="{{ asset('bundles/app/stylesheets/photoswipe.css') }}" media="screen, projection" rel="stylesheet" type="text/css" />
	<link href="{{ asset('bundles/app/stylesheets/default-skin.css') }}" media="screen, projection" rel="stylesheet" type="text/css" />
	<link href="{{ asset('bundles/app/stylesheets/owl.carousel.css') }}" media="screen, projection" rel="stylesheet" type="text/css" />
	<link href="{{ asset('bundles/app/stylesheets/owl.transitions.css') }}" media="screen, projection" rel="stylesheet" type="text/css" />
	<!-- FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
	<!-- JS -->
	<script type="text/javascript" src="{{ asset('bundles/app/js/jquery-2.2.3.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/app/js/functions.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/app/js/photoswipe.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/app/js/photoswipe-ui.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/app/js/owl.carousel.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/app/js/scroll.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/app/js/contacto.js') }}"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBocLFC5GH0pqztqWhG3i2HJbAW68xu8pQ"></script>
	<script>
  function initialize() {
	var isDraggable = $(document).width() > 480 ? true : false;  
	var ispanControl = $(document).width() > 480 ? true : false;
	
	var myLatLng = {lat: -37.339154, lng: -57.025952};
	var marker = new google.maps.Marker({
	   animation: google.maps.Animation.BOUNCE,
	   position: myLatLng,
	   title:"Médanos Apart"
	});
	var mapCanvas = document.getElementById('map');
	var mapOptions = {
	  center: new google.maps.LatLng(-37.339154, -57.025952),
	  zoom: 17,
	  mapTypeControl: true,
	  panControl:ispanControl,
	  draggable: isDraggable,
	  scaleControl: true,
	  streetViewControl: true,
	  rotateControl: true,
	  scrollwheel: false,
	  mapTypeId: google.maps.MapTypeId.SATELLITE
	}
	var map = new google.maps.Map(mapCanvas, mapOptions);
	marker.setMap(map);
  }
  
  google.maps.event.addDomListener(window, 'load', initialize);
</script>
</head>

<body class="loading">

	<div class="loading-screen">
		<div class="logo"></div>
	</div>

	{% block content %}
	{% endblock %}

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="logo"></div>
					<p>Calle 32 entre Playa y Mar Azul <br>Las Gaviotas / Buenos Aires / Argentina <br>(02255) 15 50.7575 <br>info@medanosapart.com.ar</p>
				</div>
				<div class="col-sm-8">
					<ul>
						<li><a href="{{ path('homepage') }}">Inicio</a></li>
						<li><a href="{{ path('en_la_playa') }}">En la playa</a></li>
						<li><a href="{{ path('en_el_medano') }}">En el médano</a></li>
						<li><a href="{{ path('en_el_bosque') }}">En el bosque</a></li>
						<li><a style="font-weight:bold;color:#FF6600;" href="http://www.studio360.com.ar/medanosapart/apartamento4/index.html" target="_blank">TOUR 360°</a></li>
						<li><a>Servicios</a></li>
						<li><a>Cómo llegar</a></li>
						<li><a>Contacto</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>

	<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="pswp__bg"></div>
		<div class="pswp__scroll-wrap">
			<div class="pswp__container">
				<div class="pswp__item"></div>
				<div class="pswp__item"></div>
				<div class="pswp__item"></div>
			</div>
			<div class="pswp__ui pswp__ui--hidden">
				<div class="pswp__top-bar">
					<div class="pswp__counter"></div>
					<button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
					<button class="pswp__button pswp__button--share" title="Share"></button>
					<button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
					<button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
					<div class="pswp__preloader">
						<div class="pswp__preloader__icn">
							<div class="pswp__preloader__cut">
								<div class="pswp__preloader__donut"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
					<div class="pswp__share-tooltip"></div>
				</div>
				<button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
				<button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
				<div class="pswp__caption">
					<div class="pswp__caption__center"></div>
				</div>
			</div>
		</div>
	</div>

</body>

</html>